absl-py
altair
annotated-types
astunparse
attrs
en_core_web_sm==3.1.0
beautiful
beautifulsoup4
blinker
blis
breadability
cachetools
catalogue
certifi
chardet
charset-normalizer
click
cloudpathlib
confection
contourpy
cycler
cymem
docopt
en-core-web-sm 
filelock
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-pasta
googletrans
grpcio
h11
h2
h5py
hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
keras-tuner
kiwisolver
kt-legacy
langcodes
language_data
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
murmurhash
namex
networkx
nltk
numpy
openpyxl
opt-einsum
optree
pandas
pillow
preshed
prompt-toolkit
protobuf
psutil 
pure-eval 
pyarrow
pycountry
pydantic
pydantic_core
pydeck
Pygments 
pyparsing
python-crfsuite
python-dateutil 
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
rfc3986
rich
rouge-score
rpds-py
safetensors
scikit-learn
scipy
seaborn
shellingham
six 
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data 
streamlit
summarizer
sumy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thinc
threadpoolctl
tokenizers
toml
toolz
tornado
tqdm
traitlets
transformers
typer
typing_extensions
tzdata
underthesea
underthesea_core
urllib3
wasabi
watchdog
wcwidth 
weasel
Werkzeug
wrapt
