beautiful
beautifulsoup4
cloudpathlib
gitdb
GitPython
google-pasta
googletrans
joblib
keras
keras-tuner
kiwisolver
kt-legacy
langcodes
matplotlib
networkx
nltk
numpy
pandas
referencing
scikit-learn
scipy
seaborn
smmap
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
stack-data 
streamlit
summarizer
sumy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thinc
threadpoolctl
tokenizers
toml
toolz
underthesea
underthesea_core
